<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <span class="btn navbar-brand" routerLink="/home" style="color: white;">Scale Manager</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
    aria-controls="navbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <span class="btn text-light tooltips" type="button"  data-toggle="modal" data-target="#addEmployee">Add Employees <span class="sr-only">(current)</span> </span>
      </li>
      <li class="nav-item active">
        <span class="btn text-light tooltips" type="button"  data-toggle="modal" routerLink="/level">Level <span class="sr-only">(current)</span> </span>
      </li>
      <li class="nav-item active">
        <span class="btn text-light tooltips" type="button"  data-toggle="modal" routerLink="/skill">Skill <span class="sr-only">(current)</span> </span>
      </li>
      <li class="nav-item active">
        <span class="btn text-light tooltips" type="button"  data-toggle="modal" routerLink="/type-scale">Type Scale <span class="sr-only">(current)</span> </span>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input type="search" name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search employees...">
    </form>
  </div>
</nav>
